<html>
		<head>
				<link href="/static/style.css" rel="stylesheet" type="text/css" />
		<title>ForkTube</title>
</head>
<body>
		<div id="centerer">
				<div id="header">
						<div id="logo">
								<img width="320px" src="/static/forktube2.png">
						</div>
						<div id="tagline">
							<i>rot13('Takedown this!')</i>
						</div>
				</div>
				<div id="main">
						<div id="text">
								<br /><br />ForkTube takes videos from other people on YouTube and moves a copy to your account, so you
								don't have to worry about them disappearing from the internet.
						</div>
						<div id="form">
								<br />
								<form enctype="multipart/form-data" action="/" method="post">
										{% csrf_token %}
										<input type="text" id="id_url" placeholder="URL to Fork"><br /><br /><br />
										<input type="text" id="id_username" placeholder="Your Username"><br /><br /><br />
										<input type="text" id="id_password" placeholder="Your Password"><br /><br /><br />
										<input type="submit" value="Fork it!" /><br />
								</form>
						</div>

		</div>
</div>
